@use "../abstracts" as a;

.l-body-grid {
  display: grid;
  place-items: center;
  margin: 30px;
  min-height: calc(100vh - 60px);
  font-family: a.$font-karla;
  background: a.$cl-lightlgray;
}

.l-wrapper-grid {
  display: grid;
  width: min(100%, #{a.$media-max-width});
  box-shadow: 3px 3px 19px 2px a.$cl-grayish-blue;
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
}
