// Primary
$cl-cyan: hsl(179, 62%, 43%);
$cl-light-cyan: hsl(179, 50%, 54%);
$cl-bright-yellow: hsl(71, 73%, 54%);

// Neutral
$cl-lightlgray: hsl(204, 43%, 93%);
$cl-grayish-blue: hsl(218, 22%, 67%);
