@use "../abstracts" as a;

.c-header {
  background: #fff;
}

.c-headline {
  color: a.$cl-cyan;
  font-size: 23px;
  margin-bottom: 24px;
}

.c-header__sub-headline {
  color: a.$cl-bright-yellow;
  font-weight: 700;
  margin-bottom: 9px;
}

.c-header__text {
  color: a.$cl-grayish-blue;
}

.c-header {
  padding: 41px 40px 41px 40px;
}

.c-info-sub,
.c-info-more {
  padding: 40px 45px 37px 40px;
}

.c-main {
  @media (a.$media-desktop) {
    display: flex;
  }
}

.c-main > * {
  @media (a.$media-desktop) {
    flex-basis: 100%;
  }
}

.c-info-sub {
  background: a.$cl-cyan;
  color: #fff;
}

.c-info-sub__headline {
  margin-bottom: 17px;
}

.c-info-sub__price {
  display: inline-block;
  font-size: 31px;
  margin-bottom: 5px;
}

.c-info-sub__duration {
  display: inline-block;
  line-height: 33px;
  vertical-align: top;
  color: a.$cl-light-cyan;
}

.c-info-sub__text {
  margin-bottom: 26px;
}

.c-info-sub__button {
  display: inline-block;
  text-decoration: none;
  background: a.$cl-bright-yellow;
  border-radius: 4px;
  color: #fff;
  padding: 0.9em;
  width: 100%;
  text-align: center;
}

.c-info-more {
  background: a.$cl-light-cyan;
  color: #fff;
}

.c-info-sub__text,
.c-info-more__text {
  color: a.$cl-lightlgray;
}

.c-info-more__text {
  font-size: 14px;
  line-height: 21px;
}
