html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  font-size: 1.4375rem;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

p {
  margin: 0;
  line-height: 26px;
  letter-spacing: -0.01em;
}
